.container {
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
  }
  
  #fake-tinder {
    margin: 0 auto;
    font-family: 'Varela Round', sans-serif;
    width: 90%;
  }
    .header {
      padding: 5px 10px;
      border-bottom: solid 1px #f2f2f2;
    }
      
      .header i {
        color: #CDCDCD;
        cursor: pointer;
      }
      .header .fa-cog {
        float: left;
      }
      .header .fa-comments {
        float: right;
    }
    
    .cards {
      width: 100%;
    }
      
      .card {
        /* width: 290px; */
        overflow: hidden;
        height: 280px;
        margin: 7px auto;
        border-radius: 7px;
        border: solid 1px black;
        /* background: url(https://images.unsplash.com/photo-1433588641602-7c1083c4f0e2) center no-repeat; */
        background-size: cover;
        position: relative;
        background-repeat: no-repeat;
        background-position: center;
      }
      
      .info {
        background: #ffffffb3;
        width: 100%;
        align-self: flex-end;
        padding: 15px;
        /* margin: 0.5em 0.5em 0.5em 0.5em; */
        position: absolute;
        bottom: 0;
      }
        h2 {
          font-size: 20px;
          margin: 0;
        }
        p {
          margin: 0;
          font-size: 13px;
          color: gray;
        }
    
    .buttons {
      display: flex;
      width: 245px;
      margin: 0.8em;
    }
      .button {
        display: flex;
        background: #ffffff7a;
        border: solid 2px black;
        border-color: black !important;
        border-radius: 40px;
        width: 45px;
        height: 45px;
        text-align: center;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        cursor: pointer;
        margin: 0;
        margin: 0 5px;
      }
  
    
        .no {
          color: #FF6B6B;
          font-size: 28px;
          border: solid 2px #efefef;
          width: 60px;
          height: 60px;
        }
        .yes {
          color: #4CCC93;
          border: solid 2px #efefef;
          font-size: 28px;
          width: 60px;
          height: 60px;
        }