.Background {
    background: url('../../Images/welcome.gif') no-repeat center center fixed;;
    background-size: cover;
    min-width: 100%;
    min-height: 100%;
    position: fixed;
    top:0;
    left: 0;
    z-index: -1;
}

.centerr {
    text-align: center;
}
.Title {
    z-index: 1;
    margin-top:50%;
    text-align: center;
    font-size: 300%;
    text-shadow: 0 0 5px #A5F1FF, 0 0 10px #A5F1FF,
             0 0 20px #A5F1FF, 0 0 30px #A5F1FF,
             0 0 40px #A5F1FF;
}

.faClass {
    margin-right: 10px;
}



